* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    min-height: 100vh;
}
.body {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}
.body > * {
    width: 100%;
}
 .header, .footer {
    background-color: #1f2931;
 }
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 10px 0 40px;
}
.header > * {
    max-width: 70%;
}
.hero-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
.hero-links {
    display: flex;
    column-gap: 10px;
}
.hero-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}
.hero-links > * , .hero-text p{
    color: #e5e7eb;
    font-size: 18px;
}
.hero-content {
    display: flex;
    width: 100%;
    margin: auto;
    gap: 20px 10px;
    flex-wrap: wrap;
}
.hero-image {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 65%);
    min-height: 100px;
    min-width: 300px;
    border-radius: 10px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}
.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
}
.hero-text button {
    flex-grow: 0;
    align-self: flex-start;
    padding: 8px 32px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 1000;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.hero-image p {
    color: white;
    font-size: 18px;
    font-weight: 900;
    margin: auto;
}
.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-title {
    padding: 1rem;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.random-information {
    display: flex;
    justify-content: space-evenly;
    min-width: 60%;
}
.information {
    display: flex;
    flex-direction: column;
}
.information-illustration {
    border: #3882f6 solid 4px;
    border-radius: 10px;
}
.information > * {
    width: 150px;
    height: 150px;
}
.information-subtext {
    text-align: center;
}
.quote-container {
    display: flex;
    height:400px;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
}

.quoter {
    margin-right: 20%;
    margin-left: auto;
    font-weight: 900;
    padding: 16px;
}
.quote {
    max-width: 60%;
    font-style:italic;
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    align-self: center;
}
.action {
    width: 75%;
    display: flex;
    margin: 0 auto;
}
.call-to-action, .call-to-action button {
    background-color: #3882f6;
}
.call-to-action button {
    border: white 1px solid;
    padding: 6px 40px;
    border-radius: 4px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0 10% 0 auto;
    align-self: center;
    cursor: pointer;
    flex-grow: 1; 
    padding: 10px 0;
    height: auto;
    flex-basis: 60px;
}
.call-to-action {
    display: flex;
    min-width: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
}
.call-to-action div {
    padding: 15px 60px;
    flex-grow: 1;
}
.call-to-action div > * {
    color: #e5e7eb;
}
.call-to-action div p {
    font-weight: light;
}
.footer {
    display: flex;
    color:#f9faf8;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* margin-top: 50px; */
    min-height: 60px;
}
.footer button {
    cursor: pointer;
}